@model IEnumerable<ajinomoto_app.Models.Producto>

@{
    ViewData["Title"] = "LISTAR";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <section id="hero" class="d-flex align-items-center justify-content-center" style="height: 10px;">
<h1>LISTA DE PRODUCTOS</h1>

    </section>

<p>
    <a asp-action="RegistrarProducto">REGISTRAR NUEVO PRODUCTO</a>
</p>
    <div class="container" >
        <div id="contenedor-tabla" class="table-responsive-md">
            <table class="table table-striped " style="font-size: 16px;">
                <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>

                <a asp-action="EditarProducto" asp-route-id="@item.Id"  class="btn btn-primary">EDITAR</a>
                <a asp-action="DetalleProducto" asp-route-id="@item.Id" class="btn btn-secondary">DETALLES</a>
                <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-danger">ELIMINAR</a>
            
            </td>
        </tr>
}
       </tbody>
            </table>
        </div>
    </div>