@model dynamic
@using System.Collections.Generic

@{
    ViewData["Title"] = "DETALLE PEDIDO";

    IEnumerable<DetallePedido> detalle = new List<DetallePedido>();
    detalle = @Model.detalle;

    Pedido pedido = new Pedido();
    pedido = @Model.pedido;

}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <section id="hero4" class="d-flex align-items-center justify-content-center" style="height: 18px;">
<h1>DETALLE DEL PEDIDO</h1>

    </section>

<div class="text-center">

    <p>Usuario: @pedido.UserID</p>    
    <p>Fecha y hora: @pedido.Pago.FechaPago.ToString("dd-MM-yyyy HH:mm")</p>

    <table class="table table-striped " style="font-size: 18px;">
    <thead class="thead-dark">
        <tr>
            <th>
                PRODUCTO
            </th>
            <th>
                CANTIDAD
            </th>
            <th>
                PRECIO UNITARIO
            </th>
            <th>
                PRECIO
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (DetallePedido item in Model.detalle) {
        <tr>
            <td>
                @item.Producto.Nombre
            </td>
            <td>
                @item.Cantidad
            </td>
            <td>
                S/. @item.Precio
            </td>
            <td>
                S/. @(item.Precio * item.Cantidad)
            </td>
        </tr>
}
        <tr>
            <th colspan="3">Total:</td>
            <td>S/. @pedido.Total</td>
        </tr>

    </tbody>
</table> 


</div>
<br>
  <div>
    <a asp-action="ListarPedidos" class="btn btn-info" style="font-size: 15px;">RETORNAR A LA LISTA</a>
</div>